import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&display=swap');

:root {
  --cor-principal: #6e859f;
  --cor-secundaria: #284260;
  --cor-destaque: #c92bfc;
}